<h3 class="<%= params[:status] %> admin-order-index-header"><%= params[:status] %> orders</h3><br>
<div class="row">
  <div class="col-sm-3">
    <%= form_tag admin_orders_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "search by name", class: "form-control form-control-sm search-form"%>
        <%= submit_tag "search by name", class:"btn btn-little-owl btn-sm"  %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= form_tag admin_orders_path, method: 'get' do %>
    <div class="form-group">
      <%= date_field_tag :date_search, params[:date_search], placeholder: "mm/dd/yy", class: "form-control form-control-sm search-form"%>
      <%= submit_tag "search by date", class:"btn btn-little-owl btn-sm"  %>
    </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= form_tag admin_orders_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :id_search, params[:id], placeholder: "search by order id", class: "form-control form-control-sm search-form"%>
        <%= submit_tag "search by id", class:"btn btn-little-owl btn-sm"  %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered table-striped order-index-table">
    <thead>
      <tr>
        <th>date</th>
        <th>id</th>
        <th>name</th>
        <th>product quantity</th>
        <th>order total</th>
        <th>latest comment</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tr id="<%= order.id %>-order">
        <td class="text-nowrap"><%= order.date %></td>
        <td><%= link_to order.id, admin_order_path(order.id) %></td>
        <td class="text-nowrap"><%= link_to order.name, user_orders_path(order.user.id) %></td>
        <td><%= order.product_quantity %></td>
        <td><%= order.display_total %></td>
        <% if order.comments.empty? %>
          <td></td>
        <% else %>
          <td class="text-nowrap"><%= order.comments.last.comment %></td>
        <% end %>

        <%= form_for [:admin, order], url: admin_order_path(order.id) do |f| %>
          <td><%= f.select(:status, options_for_select(%w(paid completed cancelled), order.status), {prompt: order.status}, {class:"update-form", required:true}) %></td>
          <td><%= f.submit "update order", class:"btn btn-checkout btn-s"%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
