<div class="container">
  <div class="row">
    <div class="col-xs-6 order-show-header" id="order-information">
      <%= form_for [:admin, @order], url: admin_order_path(@order.id), html: {class:"form-inline"} do |f| %>
      <h3>
        <span id="order-id">Order <%= @order.id %></span>
        <%= f.submit "update", class:"btn btn-checkout btn-xs float-right"%>
      </h3>
      <h3>Order Total: <%= @order.display_total %></h3><br>
      <span class="order-info"><%= @order.date %></span><br><br>
        <%= f.select(:status, options_for_select(%w(paid completed cancelled), @order.status), {prompt: @order.status}, {class:"update-form", required:true}) %>
      <% end %>
    </div>

    <div class="col-xs-4 order-show-header" id="customer-information">
      <h3><span><%= @order.name %></span></h3><br>
      <% if @order.unit %>
        <%= @order.street %>, Unit:<%= @order.unit %>
      <% else %>
        <%= @order.street %>
      <% end %><br>
      <%= @order.city %>, <%= @order.state %><br>
      <%= @order.zip %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive" id="order-comments">
      <table class="table order-info-table table-condensed">
      <%= form_for [:admin, @comment] do |f| %>
        <tr>
          <%= f.hidden_field :order_id, value: @order.id %>
          <td><%= f.label :comment, class:"sr-only"  %>
          <%= f.text_field :comment, placeholder: "comment", class: "form-control"%></td>
          <td><%= f.submit "add comment", class:"btn btn-little-owl btn-s"%></td>
        </tr>
      <% end %>
      <% @order.comments.each do |comment| %>
        <tr>
          <td class="comment-date"><%= comment.date %></td>
          <td><%= comment.comment %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>price</th>
          <th>quantity</th>
          <th>total</th>
        </tr>
      </thead>
      <% @order.order_products.each do |order_product| %>
        <tr id="<%= order_product.id %>-order-product">
          <td><%= image_tag(order_product.product.image.url(:small), class:"product-image img-rounded") %></td>
          <td> <%= order_product.product.name %> </td>
          <td> <%= order_product.product.display_price %> </td>
          <td> <%= order_product.quantity %> </td>
          <td> <%= order_product.display_total %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
