<div class="container sign-up-div">
  <div class="row text-center">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h1><small>sign up 🎉</small></h1>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <div class="form-group text-center form-div">
        <%= form_for(@user) do |f| %>
          <%= f.label :fullname, class:"sr-only"  %>
          <%= f.text_field :fullname, placeholder: "name", class:"form-control text-input" %><br>
          <%= f.label :email, class:"sr-only"  %>
          <%= f.email_field :email, placeholder: "email", class:"form-control text-input" %><br>
          <%= f.label :password, class:"sr-only"  %>
          <%= f.password_field :password, placeholder: "password", class:"form-control text-input" %><br>
          <%= f.submit "signup", class:"btn btn-little-owl" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
