<div class="property-index-hero-unit">
  <div class="container text-center hero-container">
    <h1></h1>
  </div>
</div>
<hr>
<% if @location %>
<div class="well well-sm" id='location-display'>
  <h2><strong><%= @location %></strong></h2>
</div>
<% end %>
<div class="container-fluid" id="filter-search">
  <h3 id='filter-title'>Filter your search</h3>
  <div class="col-lg-12" id='filter-search-bar'>
    <div id="price-slider">
      <div class="col-md-10 col-md-offset-4">
        Filter by price: <b>$ 100</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>$ 1000</b>
      </div>
    </div>
  </div>
  <%= render partial: "shared/searchbar_properties" %>
</div>
<hr class="property-divider">
<div class="container">
  <div class="col-sm-8">

    <div class="text-center" id="location">
      <% @properties.each do |property| %>
        <div class="col-sm-6 ok" data-price='<%= property.price %>'>
          <h2><%= property.title %></h2>
          <div class="row property-price">
            <span class="property-index-price">$<%= property.price %></span>
          </div>
            <%= link_to image_tag(property.images.first.image.url(:index)), user_property_path(property.user.slug, property.id), id: "image" %>
            <%= %><br><br>
          <div class="row">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-home index-icon" aria-hidden="true"></span>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-bed index-icon" aria-hidden="true"></span>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-tint index-icon" aria-hidden="true"></span>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-user index-icon" aria-hidden="true"></span>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-3">
          <h5 class="property-type-description text-center"><%= property.property_type.name if property.property_type %></h5  >
          </div>
          <div class="col-sm-3">
          <h5 class="property-stat-description text-center"><%= property.bedrooms %></h5 >
          </div>
          <div class="col-sm-3">
          <h5 class="property-stat-description text-center"><%= property.bathrooms %></h5 >
          </div>
          <div class="col-sm-3">
          <h5 class="property-stat-description text-center"><%= property.sleeps %></h5 >
          </div>
        </div>
        <hr class="property-divider">
      </div>

      <% end %>
</div>
</div>
<div class="col-sm-4">
<br>
<% if params[:destination] %>
  <div class="container map-container">
    <div class="row map-container">
      <%= render "shared/search_map" %>
    </div>
  </div>
<% end %>
</div>
</div>
