<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="#">
    Hey <%= current_user.first_name.downcase %>
    </a>
  </li>
  <li>
    <%= link_to "dashboard", admin_dashboard_path %>
  </li>
  <li>
    <%= link_to "pending properties", admin_properties_path(status: "pending") %>
  </li>
  <li>
    <%= link_to "active properties", admin_properties_path(status: "active") %>
  </li>
  <li>
    <%= link_to "inactive properties", admin_properties_path(status: "inactive") %>
  </li>
  <li>
    <%= link_to "current reservations", admin_reservations_path(status: "current") %>
  </li>
  <li>
    <%= link_to "past reservations", admin_reservations_path(status: "past") %>
  </li>
  <li>
    <%= link_to "active users", admin_users_path(status: "active")%>
  </li>
  <li>
    <%= link_to "inactive users", admin_users_path(status: "inactive") %>
  </li>
</ul>
