           <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                       Hey <%= current_user.first_name.capitalize %>
                   </a>
               </li>
               <li>
                  <%= link_to "dashboard", admin_dashboard_path %>
               </li>
               <li>
                  <%= link_to "active orders", admin_orders_path(status: "paid") %>
               </li>
               <li>
                  <%= link_to "completed orders", admin_orders_path(status: "completed") %>
               </li>
               <li>
                  <%= link_to "cancelled orders", admin_orders_path(status: "cancelled") %>
               </li>
               <li>
                  <%= link_to "edit products", admin_products_path %>
               </li>
               <li>
                  <%= link_to "add product", new_admin_product_path %>
               </li>
               <li>
                   <a href="#">customer data</a>
               </li>
               <li>
                   <a href="#">sales data</a>
               </li>
               <li>
                   <a href="#">remove user</a>
               </li>
               <li>
                  <%= link_to "inactive products", admin_inactive_products_path %>
               </li>
               <li class="sidebar-brand">
                  <a href="#">user interface</a>
               </li>
               <li>
                   <a href="#">about</a>
               </li>
               <li>
                   <%= link_to "shop all", products_path %>
               </li>
               <li>
                   <a href="#">craft</a>
               </li>
           </ul>
