<div class="form-group text-center form-div">
  <%= form_tag(orders_path)do %>
    <%= label_tag :first_name,  nil, class:"sr-only"  %>
    <%= text_field_tag :first_name, nil, required:true, placeholder: "first name", class:"form-control text-input" %><br>
    <%= label_tag :last_name,  nil, class:"sr-only"  %>
    <%= text_field_tag :last_name, nil, required:true, placeholder: "last name", class:"form-control text-input" %><br>
    <%= label_tag :email,  nil, class:"sr-only"  %>
    <%= text_field_tag :email, nil, required:true, placeholder: "email", class:"form-control text-input" %><br>
    <%= label_tag :password,  nil, class:"sr-only"  %>
    <%= password_field_tag :password, nil, required:true, placeholder: "enter or create password", class:"form-control text-input" %><br>
    <%= label_tag :street,  nil, class:"sr-only"  %>
    <%= text_field_tag :street, nil, required:true, placeholder: "street", class:"form-control text-input" %><br>
    <%= label_tag :unit,  nil, class:"sr-only"  %>
    <%= text_field_tag :unit, nil, placeholder: "Apt, Floor, Unit", class:"form-control text-input" %><br>
    <%= label_tag :city, nil, class:"sr-only"  %>
    <%= text_field_tag :city, nil, required:true, placeholder: "city", class:"form-control text-input" %><br>

    <div id="state-dropdown" class="row text-left">
    <%= select_tag(:state, options_for_select(states_array), {prompt:"state", id:"order-state", class:"form-control", required:true}) %>
    </div>
    <br>

    <%= label_tag :zip, nil, class:"sr-only"  %>
    <%= text_field_tag :zip, nil, required:true, placeholder: "zip", class:"form-control text-input" %><br>
    <%= submit_tag "Submit Order", class:"btn btn-checkout" %>
  <% end %>
</div>
