<div class="order-hero-unit order-history-hero-unit">
  <div class="container text-center hero-container">
    <h1>oh, the nostalgia.</h1>
  </div>
</div><br>
<div id="orders" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th class="text-center">order</th>
              <th class="text-center">date</th>
              <th class="text-center">status</th>
              <th class="text-center">total</th>
              <th></th>
            </tr>
          </thead>
          <% @orders.each do |order| %>
            <tr>
              <td><h4><%= link_to order.id, user_order_path(current_user, order) %></h4></td>
              <td><h4><%= order.date %></h4></td>
              <td><h4><%= order.status %></h4></td>
              <td><h4><%= order.display_total %></h4></td>
              <td><h4><%= link_to "details", user_order_path(current_user, order) %></h4></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
