<div id="order" class="container">
  <div class="cart">
    <div class="row">
      <div class="col-xs-6 text-center">
        <div class="product-header">
          <h2>Order</h2>
        </div>
        <p>Order Total</p>
        <h1 class="cart-total">$<%= cart_total(@cart.products) %></h1>
      </div>
    </div>
  </div>
    <% @products.each do |product| %>
    <div class="row cart-product container">
      <div id="<%= product.first.id %>-product">
        <div class="row">
          <div class="col-xs-4">
            <div class="cart-image">

              <%= image_tag(product.first.image_url, class: "product_image img-responsive img-rounded") %>
            </div>
          </div>
          <div class="col-xs-8">
              <div class="product-info container">
                <p class="product-title"><%= product.first.name %></p>

                <p>$<%= product.first.display_price %></p>

                <div id="quantity-dropdown" class="row text-left">
                  <%= form_tag(cart_path(id: product.first.id), class:"form-inline") do %>
                    <input type="hidden" name="_method" value="patch">
                    <div class="col-xs-5 col-sm-2 col-md-1">
                    <select class="form-control" name="quantity">
                      <option><%= product.last %></option>
                      <%= render partial: "shared/options"  %>
                    </select>
                  </div>
                  <div class="text-left">
                    <%= submit_tag "Update", class:"btn btn-little-owl"%>
                  <% end %>
                  </div>
                </div>
              <h5><%= link_to "remove from cart", cart_path(product.first.id), method: :delete %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <div class="container">
      <% if current_user %>
        <%= render partial: "checkout_form" %>
      <% else %>
        <%= render partial: "checkout_new_user_form" %>
      <% end %>
    </div>
  </div>
</div>
