<div id="product" class="container">
  <div class="row">
  </div><br><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">product</th>
              <th class="text-center">price</th>
              <th class="text-center">quantity</th>
              <th class="text-center">subtotal</th>
            </tr>
          </thead>
          <% @cart.products.each do |product| %>
            <tr>
              <td><%= image_tag(product.image.url(:small), class: "product_image img-responsive img-rounded") %></td>
                <td><h4><%= product.name %></h4></td>
                <td><h4><%= product.display_price %></h4></td>
                <td><h4><%= product.quantity %></h4></td>
                <td><h4>$<%= product.format_subtotal %></h4></td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-sm-4 text-center checkout-con">
      <div class="cart text-center">
        <h3>Hey, <%= current_user.fullname %>.</h3>
        <h4>Your total is $<%= cart_total(@cart.products) %></h4><br>
        <p>Click "submit order" below and you'll be asked all billing and shipping questions. Then enjoy the sweet nectar of the coffee gods.</p>
          <%= render partial: "checkout_form", locals: {amount: raw_cart_total(@cart.products) } %>
      </div>
    </div>
  </div>
</div>
