<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>sweet nectar of the coffee gods.</h1>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="container past-order-review">
        <h3 class="order-id little">Order <%= @order.id %></h3>
        <h3 class="order-date"><%= @order.date %></h3>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">product</th>
              <th class="text-center">price</th>
              <th class="text-center">quantity</th>
              <th class="text-center">subtotal</th>
            </tr>
          </thead>
          <% @order.order_products.each do |order_product| %>
            <tr>
              <td><%= image_tag(order_product.product.image.url(:small), class: "product_image img-responsive") %></td>
                <td><h4><%= order_product.product.name %></h4></td>
                <td><h4><%= order_product.product.display_price %></h4></td>
                <td><h4><%= order_product.quantity %></h4></td>
                <td><h4><%= order_product.display_total %></h4></td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th class="order-total">Total:</th>
              <th class="order-total"><%= @order.display_total %></th>
            </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
