<div id="product" class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="shopping-cart-title">Shopping Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <% @cart.products.each do |product| %>
      <div class="cart-product">
        <div id="<%= product.id %>-product">
          <div class="row">
            <div class="col-sm-4">
              <div class="cart-image">
                <%= image_tag(product.image.url(:index), class: "product_image img-responsive") %>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="product-title"><%= product.name %></p>
              <h3 class="product-price"><%= product.display_price %></h3>
              <br>
              <h5><%= link_to "remove from cart", cart_product_path(product.id), method: :delete %></h5>
            </div>
            <div class="col-sm-4">
                <div class="cart-info container">
                  <br><br>
                  <div id="quantity-dropdown" class="row text-left">
                    <%= form_tag(cart_product_path(id: product.id), class:"form-inline") do %>
                      <input type="hidden" name="_method" value="patch">
                      <div class="col-xs-5 col-sm-2 col-md-1">
                        <%= select_tag "quantity", options_for_select([*1..10], product.quantity), {class: "form-control"} %>
                      </div>
                      <div class="text-left">
                        <%= submit_tag "Update", class:"btn btn-little-owl"%>
                      <% end %>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-1 text-center checkout-con">
      <div class="cart">
        <div class="product-header">
          <h3>Order Subtotal (<%= @cart.count %> items)</h3>
        </div>
        <h1 class="cart-total">$<%= cart_total(@cart.products) %></h1>
        <div class="checkout">
          <% if current_user %>
            <%= link_to "Checkout", new_user_order_path(current_user), class:"btn btn-checkout form-control" %>
          <% else %>
            <%= link_to "Checkout", checkout_login_path, class:"btn btn-checkout form-control" %>
          <% end %>
        </div>
        <h4>or</h4>
        <div class="continue-shopping">
          <%= link_to "Continue Shopping", products_path, class:"btn btn-primary form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
