<h1 class="<%= users_status %> admin-users-index-header"><%= users_status %> users</h1>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>user id</th>
        <th>name</th>
        <th>total properties</th>
        <th>status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr id="<%= user.id %>-user">
        <td class="text-nowrap">
          <%= user.id %>
        </td>
        <td>
          <%=  user.fullname %>
        </td>
        <td class="text-nowrap">
          <%= user.properties.count %>
        </td>
        <td>
          <%= user.status  %>
        </td>
        <%= form_for [:admin, user], url: admin_user_path(user.id) do |f| %>
        <td><%= f.select(:status, options_for_select(%w(active inactive), user.status), {prompt: user.status }) %></td>
          <td><%= f.submit "update user", class:"btn btn-checkout btn-s"%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
