
<div id="product"  class="container">
  <h2><%= @product.name %></h2>
  <p><%= @product.description %></p>
  <div class="row">
    <div class="col-sm-7 product", >
      <%= image_tag(@product.image_url, class: "product_image", width: "400", height: "300") %>
    </div>
    <div class="col-sm-5">
      <div class="cart">
        <h4><%= @product.name %></h4>
        <h2 class="text-center"><small>$</small><%= @product.display_price(@product.price) %></h2>
        <%= button_to "Add to Cart", cart_index_path(product_id: @product.id, class:"btn btn-little-owl") %>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
