<div id="product" class="container">
  <div class="product-header">
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
  </div>
  <div class="row products-rows">
    <div class="col-sm-7">
      <div class="product-image">
          <%= image_tag(@product.image_url, class: "product-image img-responsive img-rounded") %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="cart text-center">
        <h3><%= @product.name %></h3>
        <h2 class="text-center"><small>$</small><%= @product.display_price(@product.price) %></h2><br>
        <%= form_tag(cart_index_path(product_id: @product.id), method: "post") do %>
          <select class="form-control" name="quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select><br>
          <%= submit_tag "Add to cart", class:"form-control btn btn-little-owl"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
