<h1 class="<%= property_status %> admin-property-index-header"><%= property_status %> properties</h1><br>
<div class="row">
  <div class="col-sm-3">
    <%= form_tag admin_properties_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "search by owner's name", class: "form-control form-control-sm search-form"%>
        <%= submit_tag "search by name", class:"btn btn-little-owl btn-sm"  %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= form_tag admin_properties_path, method: 'get' do %>
    <div class="form-group">
      <%= date_field_tag :date_search, params[:date_search], placeholder: "mm/dd/yy", class: "form-control form-control-sm search-form"%>
      <%= submit_tag "search by date", class:"btn btn-little-owl btn-sm"  %>
    </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= form_tag admin_properties_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :id_search, params[:id], placeholder: "search by property id", class: "form-control form-control-sm search-form"%>
        <%= submit_tag "search by id", class:"btn btn-little-owl btn-sm"  %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>date</th>
        <th>property id</th>
        <th>name</th>
        <th>price</th>
        <th>description</th>
        <th>status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @properties.each do |property| %>
      <tr id="<%= property.id %>-property">
        <td class="text-nowrap"><%= property.date %></td>
        <td><%= link_to property.id, admin_property_path(property.id) %></td>
        <td class="text-nowrap"><%= property.owner %></td>
        <td><%= property.display_total %></td>
        <td><%= truncate(property.description) %></td>

        <%= form_for [:admin, property], url: admin_property_path(property.id) do |f| %>
        <td><%= f.select(:status, options_for_select(%w(pending active inactive), property.status), {prompt: property.status }) %></td>
          <td><%= f.submit "update property", class:"btn btn-checkout btn-s"%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
