<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1></h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div id="new-property" class="form-group has success text-center form-div col-sm-6 col-sm-offset-3">
      <%= form_for [:user, @property] do |f| %>
      <h3>Property Information</h3>

      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :title, class:"sr-only"  %>
          <%= f.text_field :title, placeholder: "property title", class:"form-control form-control-success" %>
        </div>
        <div class="form-group">
          <%= f.label :description, class:"sr-only"  %>
          <%= f.text_area :description, placeholder: "property description", class:"form-control text-input" %>
        </div>
        <div class="form-group">
          <%= f.label :price, class:"sr-only"  %>
          <%= f.text_field :price, placeholder: "rental price per day", class:"form-control text-input" %>
        </div>
        <div class="form-group">
          <%= f.collection_select(:property_type_id, PropertyType.all, :id, :name, {prompt:"property type"}, {id:"property-type", class:"form-control", required:true}) %>
        </div>
        <h3>Property Location</h3>
        <div class="form-group">
          <div class="col-sm-8">
            <%= f.label :street, class:"sr-only"  %>
            <%= f.text_field :street, placeholder: "street", class:"form-control form-control-success" %>
          </div>
          <div class="col-sm-4">
            <%= f.label :unit, class:"sr-only"  %>
            <%= f.text_field :unit, placeholder: "unit", class:"form-control form-control-success" %>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
              <%= f.label :city, class:"sr-only"  %>
              <%= f.text_field :city, placeholder: "city", class:"form-control form-control-success" %>
            </div>
            <div class="col-sm-3">
              <%= f.select :state, options_for_select(us_states), {}, {class: "form-control"} %>
              <%= f.label :zip, class:"sr-only"  %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :zip, placeholder: "zip", class:"form-control form-control-success" %>
          </div>
        </div>
        <h3>Property Details</h3>
        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :bedrooms %>
            <%= f.select :bedrooms, options_for_select([*1..16], @property.bedrooms), {}, {class: "form-control form-control", id: "bedroom-dropdown"} %>
          </div>
          <div class="col-sm-4">
            <%= f.label :bathrooms %>
            <%= f.select "bathrooms", options_for_select([*1..10], @property.bathrooms), {}, {class: "form-control form-control"} %>
          </div>
          <div class="col-sm-4">
            <%= f.label :sleeps %>
            <%= f.select "sleeps", options_for_select([*1..25], @property.sleeps), {}, {class: "form-control form-control"} %>
          </div>
        </div>
        <h3>Property Amenities</h3>
        <% @amenities.each do |amenity| %>
          <div class="checkbox-inline">
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" name="property[amenities][]" value="<%= amenity.name %>"> <%= amenity.name %>
            </label>
          </div>
        <% end %>
        <br><br>
        <%= f.label :image, class:"sr-only"  %>
        <%= f.file_field :image, { id:"file_input", class:"form-control text-input", style:"display:none" } %>
        <div class="form-inline">
          <div class="form-group">
            <label class="file">
            <input id="imageFormCover" class="form-control" type="text" readonly>
            <a class="btn btn-primary" onclick="$('input[id=file_input]').click();">upload image</a>
            </label>
        </div>
        <br>
        </div>
        <br>
        <%= f.submit "List my Pad!", class:"btn btn-little-owl" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
