<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo.png' %>
  <title>C.A.M.P</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'normalize', media: 'all' %>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
</head>
<body>
  <% if current_user && current_user.platform_admin? %>
    <%= render partial: "shared/admin_nav" %>
      <div id="wrapper">
         <div id="sidebar-wrapper">
           <%= render partial: "shared/sidebar_nav" %>
         </div>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert_#{type} admin-flash" %>
    <% end %>
    <div id="page-content-wrapper">
  <% else %>
    <%= render partial: "shared/nav" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert_#{type}" %>
    <% end %>
<% end %>

<%= yield %>

</div>
<%= render partial: "shared/footer" %>

<%= javascript_include_tag 'application' %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
